@import "tailwindcss";

/* Light Mode Variables */
:root {
  --background: #f7f6fb;
  --foreground: #171717;
  --theme-color: #3b82f6;
}

/* Tailwind inline theme mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark Mode: Dark Blue-ish */
.dark {
  --background: #212121; /* dashboard dark blue */
  --card-bg: #2d2d30; /* slightly darker for cards */
  --foreground: #e0e6f0; /* soft off-white text */
  --theme-color: #3b82f6;
  --secondary-accent: var(--accent);
}

/* Body styles using CSS variables */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
